[submodule "submodules/lib-avstack-core"]
	path = submodules/lib-avstack-core
	url = https://github.com/avstack-lab/lib-avstack-core.git
[submodule "submodules/lib-avstack-api"]
	path = submodules/lib-avstack-api
	url = https://github.com/avstack-lab/lib-avstack-api.git
[submodule "submodules/lib-avstack-carla"]
	path = submodules/lib-avstack-carla
	url = https://github.com/avstack-lab/lib-avstack-carla

[submodule "submodules/OpenCOOD"]
	path = submodules/OpenCOOD
	url = https://github.com/zqzqz/OpenCOOD.git
	branch = carla_demo
[submodule "submodules/multi-agent-trust-estimator"]
	path = submodules/multi-agent-trust-estimator
	url = https://github.com/cpsl-research/multi-agent-trust-estimator
